__pycache__/5_classify_all_texts.cpython-310.pyc
.DS_Store
__pycache__/5_classify_all_texts.cpython-310.pyc
__pycache__/11_classify_files.cpython-310.pyc
__pycache__/21_names_by_concurso.cpython-310.pyc
__pycache__/20_extract_names.cpython-310.pyc
